html *:not(code) {
    color: darkslategrey;
    font-family: 'Raleway', sans-serif;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #97c388;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
}

body > .container {
    padding: 100px 15px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

/*for the btn class*/
.btn {
    cursor: pointer;
}

.error, .help-block > strong, .help-block {
    color: #C8102E;
}


/*Input fields*/
input:not(.btn), textarea {
    background-color: white!important;
    color: darkslategrey!important;
    border: 1px solid #97c388 !important;
}

/*Any input fields (text) when it is selected*/
input:not(.btn):focus, textarea:focus, select:focus {
    transition-property: border-color;
    transition-duration: 0.4s;
    border-color: #C3142D !important;
}

/*The background of the dropdown menus*/
.dropdown-menu {
    background-color: darkslategrey;
}

/*The text for the dropdown menus*/
.dropdown-menu > a {
    color: #97c388;
}


.dropdown-menu > a:hover {
    background-color: black;
    color: #97c388;
    opacity: 0.5;
}

.custom-file-control {
    background-color: white;
    border: 1px solid #97c388;
}

.custom-file-control:before {
    background-color: white;
    color: darkslategrey;
    border: 1px solid #97c388;
    transition-property: background-color;
    transition-duration: 0.3s;
}

.custom-file:hover > span:before {
    transition-property: background-color;
    transition-duration: 0.3s;
    color: #97c388;
    background-color: #C3142D;
}

pre {
    margin-top: 10px;
    padding: 10px;
    color: #bd4147 !important;
    background-color: #111111 !important;
    border: 1px solid #97c388;
}

@media(min-width: 992px)  {
    #headerSearchBox {
        width: 163px;
        margin-left: 100px;
    }
    div#contributors {
        border-left-style: solid;
    }
}

@media(max-width: 992px){
    #headerSearchBox {
        margin-left: 0px;
    }

    #navbarCollapse {
        display: flex;
        justify-content: right;
        padding: 10px 10px 10px 10px;
    }

    #bannerImgContainer {
        width: 130px;
        line-height: 40px; 

        vertical-align: middle; 
        font-size: 1.6em; 
        padding: 0; 
        margin: 0; 
        color: darkslategrey;
    }
}

input[type='radio'] {
    -webkit-appearance:none;
    width:20px;
    height:20px;
    border:1px solid darkgray;
    border-radius:50%;
    outline:none;
    box-shadow:0 0 5px 0px gray inset;
}


input[type='radio']:before {
    content:'';
    display:block;
    width:60%;
    height:60%;
    margin: 20% auto;
    border-radius:50%;
}
input[type='radio']:checked:before {
    background:darkslategrey;
}
input[type='radio'][value='TRUE']:checked:before {
    background:#C3142D;
}
input[type='radio'][value='FALSE']:checked:before {
    background:#B61E2E;
}
input[type='radio'][value='FALSE']:focus {
    border-color: #B61E2E !important;
}
/*Any select statements for a form*/
select {
    border: 1px solid #97c388 !important;
    margin-right: auto;
    background-color: white !important;
    color: darkslategrey!important;
}


/*CSS for the tables on the site*/
table.table-bordered{
    border:1px solid darkslategrey;
    margin-top:20px;
  }
table.table-bordered > thead > tr > th{
    border:1px solid darkslategrey;
}
table.table-bordered > tbody > tr > td{
    border:1px solid darkslategrey;
}

/*CSS for the Header*/
#headerSearchBtn > i {
    color: #c3142d;
}
#headerSearchBtn:hover > i {
    color: #97c388;
}

#headerSearchBox {
    background-color: white!important;
    color: darkslategrey !important;
    border: 1px solid black !important;
}

#headerNavbar { /*This houses navbarCollapse and bannerImg*/
    background-color: black !important;
    padding: 0 0 0 0;
}

#bannerImg {
    vertical-align: middle; 
    max-width: 50vw;
    max-height: auto;
    margin-top: -7px;
    padding: 5px 0 0 0;
}


/*CSS for the About Page*/
div#AboutFrame {
    overflow: auto;
}

div#AboutMain {
    max-width: 900px;
}

div#contributors {
    font-size: 12px;
    float: right;
    padding-right: 10px;
}

.searchModule {
    text-align: center;
    vertical-align: top;
}

.searchElements {
    display: inline-block;
}

#searchBox {
    float: left;
}

#searchBtn {
    background-color: green;
    border: none;
    cursor: pointer;
    float: left;
    height: 28px;
}

#browseBtn {
    background-color: green;
    margin-left: 8px;
    border: none;
    cursor: pointer;
    color: white;
    display: inline-block;
    vertical-align: middle;
    height: 28px;
}

#advancedSearchBtn {
    background-color: green;
    margin-left: 8px;
    border: none;
    cursor: pointer;
    color: white;
    display: inline-block;
    vertical-align: middle;
    height: 28px;
}

input {
    padding-left: 5px;
}

.searchModule {
    display: flex;
    justify-content: center;
}