html *:not(code) {
    color: darkslategrey;
    font-family: 'Raleway', sans-serif;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: antiquewhite;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
}

body > .container {
    padding: 100px 15px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

/*for the btn class*/
.btn {
    cursor: pointer;
}

.error, .help-block > strong, .help-block {
    color: #C8102E;
}


/*Input fields*/
input:not(.btn), textarea {
    background-color: white!important;
    color: darkslategrey!important;
    border: 1px solid antiquewhite !important;
}

/*Any input fields (text) when it is selected*/
input:not(.btn):focus, textarea:focus, select:focus {
    transition-property: border-color;
    transition-duration: 0.4s;
    border-color: #C3142D !important;
}

/*The background of the dropdown menus*/
.dropdown-menu {
    background-color: darkslategrey;
}

/*The text for the dropdown menus*/
.dropdown-menu > a {
    color: antiquewhite;
}


.dropdown-menu > a:hover {
    background-color: black;
    color: antiquewhite;
    opacity: 0.5;
}

.custom-file-control {
    background-color: white;
    border: 1px solid antiquewhite;
}

.custom-file-control:before {
    background-color: white;
    color: darkslategrey;
    border: 1px solid antiquewhite;
    transition-property: background-color;
    transition-duration: 0.3s;
}

.custom-file:hover > span:before {
    transition-property: background-color;
    transition-duration: 0.3s;
    color: antiquewhite;
    background-color: #C3142D;
}

pre {
    margin-top: 10px;
    padding: 10px;
    color: #bd4147 !important;
    background-color: #111111 !important;
    border: 1px solid antiquewhite;
}

@media(min-width: 992px)  {
    #headerSearchBox {
        width: 163px;
        margin-left: 100px;
    }
}

@media(max-width: 992px){
    #headerSearchBox {
        margin-left: 0px;
    }
}

input[type='radio'] {
    -webkit-appearance:none;
    width:20px;
    height:20px;
    border:1px solid darkgray;
    border-radius:50%;
    outline:none;
    box-shadow:0 0 5px 0px gray inset;
}


input[type='radio']:before {
    content:'';
    display:block;
    width:60%;
    height:60%;
    margin: 20% auto;
    border-radius:50%;
}
input[type='radio']:checked:before {
    background:darkslategrey;
}
input[type='radio'][value='TRUE']:checked:before {
    background:#C3142D;
}
input[type='radio'][value='FALSE']:checked:before {
    background:#B61E2E;
}
input[type='radio'][value='FALSE']:focus {
    border-color: #B61E2E !important;
}
/*Any select statements for a form*/
select {
    border: 1px solid antiquewhite !important;
    margin: 13px;
    background-color: white !important;
    color: darkslategrey!important;
}

table.table-bordered{
    border:1px solid darkslategrey;
    margin-top:20px;
  }
table.table-bordered > thead > tr > th{
    border:1px solid darkslategrey;
}
table.table-bordered > tbody > tr > td{
    border:1px solid darkslategrey;
}